body {
  background-image: url(https://images.pexels.com/photos/242236/pexels-photo-242236.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  font-family: sans-serif;
}

.App {
  text-align: center;
  margin: auto;
  width: 50%;
}
