.characters {
  margin-top: 24px;
}

.characters__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: inherit;
  margin-top: 24px;
}

.characters__submit__btn {
  width: 75%;
  margin-top: 12px;
}
