.ipsums {
  background-color: #fff;
  border-radius: 20px;
  margin-top: 20px;
  color: #212529;
}

.ipsums__btn,
.ipsums__btn--copied {
  background-color: #ffc107;
  border-radius: 20px 20px 0 0;
  padding: 10px;
  font-weight: 500;
  transition: 0.5s;
}

.ipsums__btn--copied {
  background-color: #43d476;
}

.ipsums__btn:hover {
  background-color: #ff9800;
  transition: 0.5s;
}
.ipsums__wrapper {
  padding: 0 25px 25px;
}

.ipsums__msg {
  margin: 20px 0;
}
