.ipsums {
  background-color: white;
  border-radius: 20px;
  margin-top: 20px;
}

.ipsums__btn {
  background-color: #36c336;
  border-radius: 20px 20px 0 0;
  padding: 10px;
  color: #1f1c1c;
  font-weight: 700;
  transition: 0.5s;
}

.ipsums__btn:hover {
  background-color: #099009;
  color: #fff;
  transition: 0.5s;
}
.ipsums__wrapper {
  padding: 0 25px 25px;
}

.ipsums__msg {
  margin: 20px 0;
}
